#include <winver.h>
#include "version.h"

1 ICON "phawx.ico"
1 24 "phawx.manifest"

/* A copy of the signed PawnIO modules from plugins/PawnIO/modules (see the README
   there), used when that folder is missing next to the exe */
PAWNIO_INTELMSR    RCDATA "PawnIO/modules/IntelMSR.bin"
PAWNIO_INTELMCHBAR RCDATA "PawnIO/modules/IntelMCHBAR.bin"
PAWNIO_AMDFAMILY17 RCDATA "PawnIO/modules/AMDFamily17.bin"
PAWNIO_RYZENSMU    RCDATA "PawnIO/modules/RyzenSMU.bin"
PAWNIO_LPCACPIEC   RCDATA "PawnIO/modules/LpcACPIEC.bin"

VS_VERSION_INFO VERSIONINFO
FILEVERSION PH_VER_MAJOR,PH_VER_MINOR,PH_VER_PATCH,0
PRODUCTVERSION PH_VER_MAJOR,PH_VER_MINOR,PH_VER_PATCH,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Phawx"
      VALUE "FileDescription", "Phawx ON"
      VALUE "FileVersion", PH_VERSION
      VALUE "InternalName", "PhawxON"
      VALUE "OriginalFilename", "PhawxON.exe"
      VALUE "ProductName", "Phawx ON"
      VALUE "ProductVersion", PH_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
