#include <winver.h>

1 ICON "phawx.ico"
1 24 "phawx.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Phawx"
      VALUE "FileDescription", "Phawx ON"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "PhawxON"
      VALUE "OriginalFilename", "PhawxON.exe"
      VALUE "ProductName", "Phawx ON"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
